name: nooh
description: "A new Flutter project."

publish_to: 'none' # Remove this line if you wish to publish to pub.dev


version: 1.0.0+1

environment:
  sdk: '>=3.4.3 <4.0.0'


dependencies:
  flutter:
    sdk: flutter


  cupertino_icons: ^1.0.6
  flutter_svg: ^2.0.10+1
  url_launcher: ^6.3.0
  shared_preferences: ^2.2.3
  get: ^4.6.6
  flutter_screenutil: ^5.9.0
  dio: ^5.4.1
  google_fonts: ^5.1.0
  flutter_rating_bar: ^4.0.0
  animate_do: ^3.3.4
  connectivity_plus: ^6.0.2
  intl: ^0.19.0
  video_player: ^2.9.1
  flick_video_player: ^0.9.0
  better_player: ^0.0.84
  firebase_core: ^3.3.0
  firebase_messaging: ^15.0.4
  webview_flutter: ^4.8.0
  google_mobile_ads: ^5.1.0


dev_dependencies:
  flutter_launcher_icons: ^0.13.1

  flutter_test:
    sdk: flutter

flutter_launcher_icons:
  android: "launcher_icon"
  ios: true
  remove_alpha_ios: true
  image_path: "assets/icons/ic_launcher_round.png"
  min_sdk_android: 21 # android min sdk min:16, default 21

  flutter_lints: ^3.0.0


flutter:


  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/icons/
    - assets/images/
  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
